<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS0SZAbTjbt1JUMDrzVYtD2LxJuKlNQEk</string>
	<key>GCM_SENDER_ID</key>
	<string>619000166635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contacts</string>
	<key>PROJECT_ID</key>
	<string>i-contacts-app</string>
	<key>STORAGE_BUCKET</key>
	<string>i-contacts-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619000166635:ios:75b9c20b177858eb2ae6ae</string>
</dict>
</plist>